.button {
    font-size: @mediumFontSize;
    background-color: @darkColor;
    color: @fontColor;
    border: none;
    border-radius: 20px;
    padding: 5px 15px 5px 15px;
    transition: border-radius 0.5s;

    &:focus {
        outline: none;
        //box-shadow: 0px 0px 15px @hoverColor;
    }

    &:hover{
        cursor: pointer;
        border-radius: 0; 
    }

    &.inactive{
        opacity: 0.3;
        cursor: not-allowed;
        pointer-events: none;
    }
}

.add-button {
    .button;
    width: 130px;
    margin: 0 calc(~'50% - 65px');
}

.edit-button {
    .button;
    width: 30px;
    height: 20px;
    padding: 5px;
    text-align: center;
    line-height: 20px;
    vertical-align: center;
    margin: auto 0;
}

.form-button {
    .button;
    margin-top: 20px;
    float: right;
}

.close-button {
    background:none;
    border: none;
    color: @fontColor;
    padding: 5px 10px 5px 10px !important;
    float: right;

    &:hover {
        color: @hoverColor;
        cursor: pointer;
    }

    &:focus {
        outline: none;
        color: @hoverColor;
    }
}

.icon-button {
    font-size: 4em;
    color: @green !important;
    &:hover {
        cursor: pointer;
        color: @hoverColor !important;
    }

    &:focus {
        outline: none;
    }
}

.menu-button {
    .icon-button;
    position: fixed;
    top: 0px;
    left: 0;
    margin: 30px;
    transition: margin 0.2s linear;

    &:hover {
        cursor: pointer;
        margin-top: 20px !important;
        color: @green !important;
    }
    z-index: 3;
}

.back-button {
    .icon-button;
    float: right;
}

.shuffle-button {
    .icon-button;
    font-size: 2em;
    margin: auto 0;
}