main-app {
    width: 100%;
    font-family: Verdana;
    color: white;
    font-size: @bigFontSize;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}