main-app {
    font-family: Verdana;
    // display: flex;
    // justify-content: center;
    // margin: auto;

    .full-page-loader.material-icons {
        .fullscreen;
        font-size: 60px;
        text-align: center;
        line-height: 100vh;
        animation: spin 1s linear infinite;
    }
}