.nav-bar-component {
    .nav-container {
        .overlay;
        width: 25%;
        background-color: @green-alpha;
        transition: left 1s linear;
        font-size: 2em;
    }

    nav {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);

        li {
            width: 100%;
            line-height: 1.8em;
            text-align: center;
            margin: 45% 0px;
        }
    }

    a {
        color: @grey;
        &:visited {
            color: @grey;
        }
        &:hover {
            color: transparent !important;
        }
    }
    
    .close-button {
        margin: 2%;
        color: @grey;
        &:hover {
            color: transparent;
        }
    }
}