nav-bar {
    .nav-container {
        .overlay;
        width: 25%;
        background-color: rgba(256,256,256,0.2);
        transition: left 1s linear;
        font-size: @bigFontSize;
    }

    nav {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);

        li {
            width: 100%;
            line-height: 70px;
            text-align: center;
        }
    }

    a {
        &:hover {
            color: rgba(100,100,100,0.0) !important;
        }
    }
    
    .close-button {
        margin: 2%;
        &:hover {
            color: transparent;
        }
    }
}