quote-form {  

    div.form-box {
        position: absolute;
        max-width: 70%;
        top: 50%;
        left: 50%;
        padding: 50px;
        transform: translateX(-50%) translateY(-50%);
        background-color: grey;
        z-index: 1;
        border-radius: 10px;
    }

    div.form-content {
        padding-top: 10px;
        padding-bottom: 10px;
        line-height: 36px;
    }

    input[type=submit] {
        margin-top: 20px;
        float: right;
    }

    textarea {
        margin-top: 10px;
        padding-bottom: 0px !important;  
        height: 60px;
    }

    select {
        width: 100%;
    }

}