.quote-form-component {  
    color: @grey;
    .form-box-popup {
        background-color: @green;
        color: @grey;
    }

    textarea {
        margin-top: 10px;
        padding-bottom: 0px !important;  
        height: 60px;
    }

    select {
        width: 100%;
    }

    .close-button {
        color: @grey;
        transform: translateX(30px) translateY(-30px);
    }

}