quote-form {  

    .form-box {
        background-color: rgba(100,100,100,0.8);
    }

    textarea {
        margin-top: 10px;
        padding-bottom: 0px !important;  
        height: 60px;
    }

    select {
        width: 100%;
    }

    .close-button {
        transform: translateX(30px) translateY(-30px);
    }

}