.random-quote-component {
    h1.container-item.text-center {
        font-size: 3em;
        line-height: 2em;
        top: 15%;
        margin-bottom: 5%;
    }
    & div {
        line-height: 40px;
    }

    .flex-item-quote.container-item {
        margin-top: 0;
        width: 100%;
    }

    .big-font {
        text-align: justify;
    }

}