.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-container-column {
    .flex-container;
    flex-direction: column;
}

.guion-list {
    line-height: @bigFontSize + 30;

    li:before {
        content: '-';
    }
}

.spaced-list {
    text-align: center;

    li {
        margin-top: 30px;
        margin-bottom: 30px;  
        line-height: @bigFontSize + 20px;
    }
}

.selectable-list {
    li:hover {
        color: @secondaryColor;
        cursor: pointer;
    }

    li:focus {
        outline: none;
        color: @selectColor;
    }
}